/* Universal Styles */

a{
  color: black;
}
/* Header */

header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.logo{
  display: flex;
  color: MediumAquamarine;
  padding-left: 20px;
  flex-grow: 2;
  align-items: center;
}

.logo img{
  margin-right: 15px;
}

.logo span{
  display: flex;
  align-items: center;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

/* Main */
.column{
  display: flex;
  justify-content: space-around;
  border: 3px solid black;
}

.column .row{
  display: flex;
  flex-direction: column;
  border: 2px solid coral;
}

.column .large {
  display: flex;
  flex-direction: column;
  /*flex-basis: 630px;*/
  flex: 21;
  justify-content: flex-start;
  border: 1px solid red;
  margin: 20px 20px 0 0;
}

.column .medium {
  display: flex;
  flex-direction: column;
  /*flex-basis: 300px;*/
  flex: 10;
  justify-content: flex-start;
  border: 1px solid green;
  margin: 20px 20px 0 0;
}

.column .small {
  display: flex;
  flex-direction: column;
  /*flex-basis: 240px;*/
  flex: 8;
  justify-content: flex-start;
  border: 1px solid blue;
  margin: 20px 20px 0 0;
}
