/* Universal Styles */

a{
  color: black;
}
/* Header */

header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.logo{
  display: flex;
  color: MediumAquamarine;
  padding-left: 20px;
  flex-grow: 2;
  align-items: center;
}

.logo img{
  margin-right: 15px;
}

.logo span{
  display: flex;
  align-items: center;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

/* Main */
.column{
  display: flex;
  justify-content: flex-start;
  border: 2px solid black;
}

.column .large .image{
  display: flex;
  border: 1px solid orange;
}

.column .large {
  display: flex;
  flex-direction: column;
  flex-basis: 630px;
  justify-content: space-around;
  border: 1px solid red;
}

.column .medium {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 300px;
  border: 1px solid green;
}

.column .small {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: : 240px;
  border: 1px solid blue;
}
